body {
	font-family: Robota, sans-serif;
	font-size: 13px;
	color: floralwhite;
	background-color: whitesmoke;
	height: 100%
}

.nav {
	width: 100%;
	height: 2em;
	border: none;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	font-size: 15px;
	background: #512DA8;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding-top: .5em;
}

#bk{
	float:left;
}

a{
	color:white;
	margin-left: 1em;
	margin-right: 1em;
	cursor: pointer
}

#hm{
	float:right;
}

.cardlist{
	margin-top: 1em;;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
	background-color: #D1C4E9;
	border-radius: 5px;
}
.card {
	margin-top:1em;
	background-size: cover;
	background-color: #D1C4E9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
	height:15em;
	border-radius: 5px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

img.card {
	border-radius: 5px 5px 0 0;
	width 100%;
}

.container {
	padding: 12px 16px;
}

h3{
	padding:10px 10px 10px 10px;
}
p{
	padding-left: 10px;
}

@media screen and (min-width:600px) {
	body{
		font-size: 15px;	
	}
	.nav {
		width: 95%;
		font-size: 20px;		
	}
	.card {
		width: 30%;
		height:200px;
		float:left;
		text-align: center;
		margin-left: 1em
	}
	.cardlist{
		width: 95%;
		font-size: 15px;
	}
	img.card{
		margin-right: 1em;
		float:initial;
		
	}
	.container{
		margin-left:1em;
	}
}